<section class="acao-details">
    <app-alerts [alerts]="alerts()" (dismissed)="handleAlertDismiss($event)"></app-alerts>

    <header class="acao-details__header">
        <a class="acao-details__back" routerLink="/acoes">
            <i class="ph ph-arrow-left"></i> {{ 'acaoDetails.back' | translate }}
        </a>

        <div class="acao-details__title-wrap" *ngIf="fundamentus() as fund">
            <h2>{{ fund.codigo }}</h2>
            <span>{{ fund.empresa }}</span>
        </div>
    </header>

    <div *ngIf="isLoading()" class="acao-details__loading">
        <div class="spinner"></div>
        <span>{{ 'acaoDetails.loading' | translate }}</span>
    </div>

    <ng-container *ngIf="!isLoading() && fundamentus() as fund">
        <div class="acao-details__grid">

            <article class="acao-details__card">
                <header>
                    <h3>{{ 'acaoDetails.cards.information' | translate }}</h3>
                </header>
                <div class="acao-details__table">
                    <div class="acao-details__row" *ngFor="let item of fund.indicadores | slice:0:11">
                        <span class="label">
                            {{ item.label }}
                            <app-help-tip *ngIf="hasHelp(item.label)" [text]="getHelp(item.label)"></app-help-tip>
                        </span>
                        <strong class="value">{{ item.value }}</strong>
                    </div>
                </div>
            </article>

            <article class="acao-details__card">
                <header>
                    <h3>{{ 'acaoDetails.cards.oscillations' | translate }}</h3>
                </header>
                <div class="acao-details__table">
                    <div class="acao-details__row" *ngFor="let item of fund.indicadores | slice:11:22">
                        <span class="label">
                            {{ item.label }}
                            <app-help-tip *ngIf="hasHelp(item.label)" [text]="getHelp(item.label)"></app-help-tip>
                        </span>
                        <strong class="value">{{ item.value }}</strong>
                    </div>
                </div>
            </article>

            <article class="acao-details__card acao-details__card--full">
                <header>
                    <h3>{{ 'acaoDetails.cards.fundamentalIndicators' | translate }}</h3>
                </header>
                <div class="acao-details__table acao-details__table--columns">
                    <div class="acao-details__row" *ngFor="let item of fund.indicadores | slice:22:44">
                        <span class="label">
                            {{ item.label }}
                            <app-help-tip *ngIf="hasHelp(item.label)" [text]="getHelp(item.label)"></app-help-tip>
                        </span>
                        <strong class="value">{{ item.value }}</strong>
                    </div>
                </div>
            </article>

            <article class="acao-details__card">
                <header>
                    <h3>{{ 'acaoDetails.cards.balanceSheet' | translate }}</h3>
                </header>
                <div class="acao-details__table">
                    <div class="acao-details__row" *ngFor="let item of fund.indicadores | slice:44:50">
                        <span class="label">
                            {{ item.label }}
                            <app-help-tip *ngIf="hasHelp(item.label)" [text]="getHelp(item.label)"></app-help-tip>
                        </span>
                        <strong class="value">{{ item.value }}</strong>
                    </div>
                </div>
            </article>

            <article class="acao-details__card">
                <header>
                    <h3>{{ 'acaoDetails.cards.results' | translate }}</h3>
                </header>
                <div class="acao-details__table">
                    <div class="acao-details__row" *ngFor="let item of fund.indicadores | slice:50">
                        <span class="label">
                            {{ item.label }}
                            <app-help-tip *ngIf="hasHelp(item.label)" [text]="getHelp(item.label)"></app-help-tip>
                        </span>
                        <strong class="value">{{ item.value }}</strong>
                    </div>
                </div>
            </article>

            <article class="acao-details__card acao-details__card--chart">
                <header class="acao-details__chart-header">
                    <h3>{{ 'acaoDetails.cards.priceChart' | translate }}</h3>
                    <div class="acao-details__chart-windows">
                        <button *ngFor="let w of chartWindows"
                                class="acao-details__chart-btn"
                                [class.acao-details__chart-btn--active]="selectedChartWindow() === w"
                                (click)="changeChartWindow(w)">
                            {{ w }}
                        </button>
                    </div>
                </header>
                <app-stock-chart
                    [points]="(googleFinance()?.chart?.points) ?? []"
                    [previousClose]="googleFinance()?.chart?.previousClose ?? null">
                </app-stock-chart>
            </article>

        </div>
    </ng-container>
</section>