.simple-input-number {
    background: white;
    border: 1px solid rgba(15, 23, 42, 0.2);
    border-radius: 8px;
    font-size: 14px;
    height: 40px;
    text-indent: 15px;
    padding: 0;
    width: 100%;
}