$primary-color: #4f8cff;
$primary-hover: #3965b8;

$primary-green: #14b8a6;
$primary-red: #ef4444;

$blue-light-opacity-15: rgba(79, 140, 255, 0.15);
$blue-light-opacity-25: rgba(79, 140, 255, 0.25);
$blue-light-opacity-55: rgba(79, 140, 255, 0.55);