@use '../../colors.scss' as *;

$switch-width: 42px;
$switch-height: 26px;
$circle-size: 20px;
$offset: 3px;

.simple-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.simple-checkbox__track {
  background-color: var(--color-border);
  border-radius: 72px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  height: $switch-height;
  margin: 0;
  position: relative;
  transition: background-color 100ms ease-out;
  width: $switch-width;

  &:hover {
    background-color: var(--color-card-border);
    transition-duration: 0s;
  }
}

.simple-checkbox__track::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.simple-checkbox__track::after {
  background-color: $color-white;
  border-radius: 50%;
  content: "";
  height: $circle-size;
  left: $offset;
  position: absolute;
  top: $offset;
  transition: left 100ms ease-out;
  width: $circle-size;
}

.simple-checkbox__input:checked + .simple-checkbox__track {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-hover;
  }

  &::after {
    left: calc(#{$switch-width} - #{$circle-size} - #{$offset});
  }
}

.simple-checkbox__input:focus-visible + .simple-checkbox__track {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
}
