@use '../../colors.scss' as *;

$switch-width: 42px;
$switch-height: 26px;
$circle-size: 20px;
$offset: 3px;

.simple-checkbox__track {
  --bg: #dfe1e4;
  --bg-hover: #c9cbcd;
  --checked-bg: #6e79d6;
  --checked-hover-bg: #535db3;
  --circle-color: $color-white;

  appearance: none;
  background-color: var(--bg);
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: $switch-height;
  margin: 0;
  position: relative;
  width: $switch-width;
}

:host-context(html[data-theme="dark"]) .simple-checkbox__track {
  --bg: rgba(226, 232, 240, 0.15);
  --bg-hover: rgba(226, 232, 240, 0.25);
  --checked-bg: $color-primary;
  --checked-hover-bg: $color-primary-hover;
  --circle-color: $color-white;
}

.simple-checkbox__track::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.simple-checkbox__track,
.simple-checkbox__track::after {
  transition: all 100ms ease-out;
}

.simple-checkbox__track::after {
  background-color: var(--circle-color);
  border-radius: 50%;
  content: "";
  height: $circle-size;
  left: $offset;
  position: absolute;
  top: $offset;
  width: $circle-size;
}

.simple-checkbox input[type=checkbox] {
  cursor: default;
}

.simple-checkbox__track:hover {
  background-color: var(--bg-hover);
  transition-duration: 0s;
}

.simple-checkbox__track:checked {
  background-color: var(--checked-bg);
}

.simple-checkbox__track:checked::after {
  background-color: var(--circle-color);
  left: calc(#{$switch-width} - #{$circle-size} - #{$offset});
}

.simple-checkbox :focus:not(.focus-visible) {
  outline: 0;
}

.simple-checkbox__track:checked:hover {
  background-color: var(--checked-hover-bg);
}